{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Post: {{ post.title }}{% endblock title %}

{% block content %}
  <div class="text-white">
  <div class="row">
    <h3 class="col-md-8">{{ post.title|title }}</h3>
    {% if request.user.is_staff %}
      <div class="d-flex col-md-4 justify-content-end align-items-center p-2">
        <a class="btn btn-outline-primary btn-sm m-1" href="{% url "blog:post-edit" post.pk %}">Edit</a>
        <a class="btn btn-outline-danger btn-sm m-1" href="{% url "blog:post-delete" post.pk %}">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <p class="col-md-8">{{ post.content }}</p>
    <div class="d-flex col-md-4 justify-content-end">
      <p>
        Author: {% if post.author.name %}
        {{ post.author.name }}
        {% else %}
        {{ post.author.username }}
        {% endif %}<br>
        {{ post.created }}
      </p>
    </div>
  </div>
  <div>
  {% if request.user.is_authenticated %}
    <h5 class="mt-2">Add comment</h5>
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-success">Add</button>
    </form>
  {% else %}
    In order to post a comment you must log in
  {% endif %}
  </div>
  <div class="mt-2">
    <h6>Comments</h6>
    {% if post.comments.all %}
      {% for comment in post.comments.all %}
      <div class="comment border text-white mb-2">
      <div class="p-2">
      <div class="row">
        <div class="col-md-12 m-1">
          <p>{{ comment.content }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            {% if comment.author.name %}
              {{ comment.author.name }}
            {% else %}
              {{ comment.author.username }},
            {% endif %}
            {{ comment.created }}
          </p>
        </div>
        {% if comment.author == request.user %}
          <div class="d-flex col-md-6 justify-content-end align-items-center">
            <a class="btn btn-outline-primary btn-sm m-1" href="{% url "blog:comment-edit" comment.pk %}">Edit</a>
            <a class="btn btn-outline-danger btn-sm m-1" href="{% url "blog:comment-delete" comment.pk %}">Delete</a>
          </div>
        {% endif %}
      </div>
      </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No comments yet</p>
    {% endif %}
  </div>
  </div>
{% endblock content %}
