{% extends "base.html" %}

{% block title %}Order {{ order.pk }}{% endblock title %}

{% block content %}
<div>
{% if order.products.all %}
<table>
  <thead>
  <tr>
    <th>Product name</th>
    <th>Amount</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  {% for el in order.productorder_set.all %}
  <tr>
  <td>{{ el.product.name }}</td>
  <td>{{ el.amount }}</td>
  <td>{{ el.get_price }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td>Total</td>
    <td>{{ order.get_total }}</td>
  </tr>
  </tbody>
</table>
{% else %}
<h4>No products in your order, error must have occurred</h4>
{% endif %}
</div>
{% endblock content %}
