{% extends "base.html" %}

{% block title %}Product {{ product.name }}{% endblock title %}

{% block content %}
  <div>
  <div>
    <h2>{{ product.name }}</h2>
    {% if request.user.is_staff %}
      <div>
        <a class="btn btn-primary" href="{% url "shop:product-edit" product.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "shop:product-delete" product.pk %}">Delete</a>
      </div>
    {% endif %}
  </div>
  <div>
  <div>
    <p>{{ product.description }}</p>
    <div>
      <p>Price: {{ product.price }}</p>
      <p>In stock: {{ product.amount }}</p>
    </div>
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      <button class="btn btn-success">Add to cart</button>
      {{ form.amount }}
    </form>
  </div>
    <div>
    <p>Categories:</p>
      <ul>
      {% for category in product.categories.all %}
        <li><a href="{% url "shop:category-detail" category.slug %}">{{ category.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  </div>

{% endblock content %}
