{% extends "base.html" %}

{% block title %}Product {{ product.name }}{% endblock title %}

{% block content %}
  <div class="row text-white">
    <div class="col-md-8">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: {{ product.price }}</p>
    </div>
    {% if request.user.is_staff %}
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-primary" href="{% url "shop:product-edit" product.pk %}">Edit</a>
        <a class="btn btn-outline-danger ml-2" href="{% url "shop:product-delete" product.pk %}">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-4">
      <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-success">Add to cart</button>
        {{ form.amount }}
      </form>
    </div>
    <div class="col-md-8 d-flex text-white">
    <h3>Categories:</h3>
      <ul style="list-style: none" class="d-flex justify-content-end">
      {% for category in product.categories.all %}
        <li class="mt-2"><a href="{% url "shop:category-detail" category.slug %}">{{ category.name }}</a>&nbsp;</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4 d-flex justify-content-end">
    <a class="btn btn-outline-info" href="{% url 'shop:category-list' %}">All categories</a>
  </div>
  </div>

{% endblock content %}
