{% extends "base.html" %}

{% block title %}Locations{% endblock title %}

{% block content %}
<div class="text-white">
<div class="row">
  <div class="col-md-8"></div>
  {% if request.user.is_staff %}
    <div class="col-md-4 d-flex justify-content-end align-items-center">
      <a class="btn btn-outline-success" href="{% url "shop:shop-create" %}">Add shop</a>
    </div>
  {% endif %}
</div>
<div>
  <h2>Locations</h2>
  <ul style="list-style: none">
    {% for shop in shops %}
    <li class="row">
    <div class="col-md-8">
    <h5><a href="{% url "shop:shop-detail" shop.pk %}">{{ shop.name }}</a></h5>
    <p>
      City: {{ shop.city }}<br>
      Street: {{ shop.street }}
    </p>
    </div>
    {% if request.user.is_staff %}
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-primary" href="{% url "shop:shop-edit" shop.pk %}">Edit</a>
        <a class="btn btn-outline-danger ml-2" href="{% url "shop:shop-delete" shop.pk %}">Delete</a>
      </div>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock content %}
