{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="text-white">
      <h3>About</h3>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aperiam at distinctio error iste minima necessitatibus quasi similique temporibus. Aperiam aspernatur atque
        ipsam ipsum iste modi molestiae necessitatibus nulla optio veniam? </span>
        <span>Ab eos eveniet molestias quidem quod! Ab accusamus ad aperiam at atque, culpa deleniti doloremque,
          dolorum inventore magnam modi mollitia nulla obcaecati praesentium quia quibusdam saepe sint, soluta voluptate
          voluptates. </span><span>Accusamus deserunt eveniet expedita quisquam vel? Amet blanditiis dolore dolores
          dolorum expedita illo impedit incidunt itaque maiores minus nam neque perferendis placeat porro, provident
          quo ratione repellat sapiente, soluta tempore. </span><span>Asperiores, dolores eaque est eum, facere maiores
          modi, mollitia porro possimus quas quod saepe unde ut. Aliquam animi cum cupiditate distinctio dolorum fugit,
          impedit ipsam laborum molestias, optio possimus temporibus? </span><span>Alias atque eius eum odit! Aliquam
          debitis dignissimos dolorum, earum eligendi enim esse expedita facilis illo, nesciunt perspiciatis quia
          tenetur totam ullam veniam voluptas voluptate. Consectetur debitis iusto molestiae vel? </span><span>Adipisci
          amet aperiam assumenda autem consequatur dolor dolorum eaque est excepturi exercitationem explicabo ipsam
          magni maiores minus molestias nulla officia possimus, quas quo reprehenderit rerum sed sequi similique sunt
          suscipit? </span><span>Debitis eius error et exercitationem in sit unde velit voluptatem! A ad culpa hic illum
          in minus porro temporibus voluptates? Aspernatur eius est facere id minus modi qui ratione tempora! </span>
        <span>Ab consequatur culpa debitis excepturi, minus molestiae pariatur, quaerat quasi qui quidem temporibus,
          tenetur! Adipisci autem delectus deleniti eius fugiat harum illo magni minus modi quaerat rem, temporibus,
          voluptatibus! Ipsa. </span><span>Consequuntur id quasi vel voluptatibus? Autem, porro, quibusdam? Aperiam
          corporis cupiditate earum magnam molestiae quis. Debitis dignissimos, eligendi error exercitationem hic
          numquam obcaecati porro, quae quas quibusdam tempora totam voluptatem? </span><span>Accusantium autem beatae,
          commodi consequuntur distinctio eaque fugit hic ipsum maxime mollitia nostrum odit omnis, quasi, quo quod
          veniam veritatis? Consequatur, debitis iusto laborum magnam molestiae nisi quos sed similique? </span></p>
    </div>
  </div>
</div>
{% endblock content %}
